.bg-primary {
    background-color: $primary-color !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.bg-tertiary {
    background-color: $backgorund-color-tertiary !important;
}

.bg-light {
    background-color: $background-color-light !important;
}

.bg-light-secondary {
    background-color: $light-secondary-color !important;
}

.bg-other-secondary-color{
    background-color: $other-secondary-color !important;
}

.bg-light-tertiary {
    background-color: $light-tertiary-color !important;
}

.bg-color-yellow {
    background-color: $background-color-yellow !important;
}

.bg-color-gray {
    background-color: $backgorund-color-gray !important;
}

.bg-color-white {
    background-color: $white !important;
}

.bg-transparent-gray {
    background-color: rgba($color: #000000, $alpha: 0.6) !important;
}