.fs-7 {
    font-size: 0.438rem !important;
}

.fs-9 {
    font-size: 0.563rem !important;
}

.fs-10 {
    font-size: 0.625rem !important;
}

.fs-11 {
    font-size: 0.688rem !important;
}

.fs-12 {
    font-size: 0.75rem !important;
}

.fs-13 {
    font-size: 0.813rem !important;
}

.fs-14 {
    font-size: 0.875rem !important;
}

.fs-15 {
    font-size: 0.938rem !important;
}

.fs-16 {
    font-size: 1rem !important;
}

.fs-17 {
    font-size: 1.063rem !important;
}

.fs-18 {
    font-size: 1.125rem !important;
}

.fs-19 {
    font-size: 1.188rem !important;
}

.fs-20 {
    font-size: 1.25rem !important;
}

.fs-21 {
    font-size: 1.313rem !important;
}

.fs-22 {
    font-size: 1.375rem !important;
}

.fs-23 {
    font-size: 1.438rem !important;
}

.fs-24 {
    font-size: 1.5rem !important;
}

.fs-25 {
    font-size: 1.563rem !important;
}

.fs-30 {
    font-size: 1.875rem !important;
}

.fs-32 {
    font-size: 2rem !important;
}

.fs-33 {
    font-size: 2.063rem !important;
}

.fs-34 {
    font-size: 2.125rem !important;
}

.fs-35 {
    font-size: 2.188rem !important;
}

.text-primary {
    color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-tertiary {
    color: $tertiary-color !important;
}

.text-light {
    color: $white !important;
}

.text-medium {
    color: $font-color-medium !important;
}

.text-gray {
    color: $font-color-gray !important;
}

.text-dark {
    color: $font-color-dark !important;
}

.text-medium2 {
    color: $font-color-medium2 !important;
}

.fw-medium {
    font-weight: $font-weight-medium !important;
}

.fw-semiBold {
    font-weight: $font-weight-semiBold !important;
}

.text-dark-pink {
    color: $dark-pink-color !important;
}

.text-light-green-color {
    color: $light-green-color !important;
}

.text-light-secondary {
    background-color: $light-secondary-color !important;
}

.text-light-tertiary {
    background-color: $light-tertiary-color !important;
}

.text-border-other-tertiary-color {
    border: 3px solid $other-tertiary-color !important;
}

.text-border-other-secondary-color {
    border: 3px solid $other-secondary-color !important;
}

.text-border-dark-pink-color {
    border: 3px solid $dark-pink-color !important;
}

.text-border-white {
    border: 1px solid $white !important;
}

.text-light-green-secondary-color {
    color: $light-green-secondary-color !important;
}