.fs-7 {
    font-size: 0.438rem;
}

.fs-9 {
    font-size: 0.563rem;
}

.fs-10 {
    font-size: 0.625rem;
}

.fs-11 {
    font-size: 0.688rem;
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-13 {
    font-size: 0.813rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-15 {
    font-size: 0.938rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-17 {
    font-size: 1.063rem;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-19 {
    font-size: 1.188rem;
}

.fs-20 {
    font-size: 1.25rem;
}

.fs-21 {
    font-size: 1.313rem;
}

.fs-22 {
    font-size: 1.375rem;
}

.fs-23 {
    font-size: 1.438rem;
}

.fs-24 {
    font-size: 1.5rem;
}

.fs-25 {
    font-size: 1.563rem;
}

.text-primary {
    color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-tertiary {
    color: $tertiary-color !important;
}

.text-light {
    color: $white !important;
}

.text-medium {
    color: $font-color-medium !important;
}

.text-gray {
    color: $font-color-gray !important;
}

.text-dark {
    color: $font-color-dark !important;
}

.text-medium2 {
    color: $font-color-medium2 !important;
}

.fw-medium {
    font-weight: $font-weight-medium !important;
}

.fw-semiBold {
    font-weight: $font-weight-semiBold !important;
}

.text-dark-pink {
    color: $dark-pink-color;
}

.text-light-secondary {
    background-color: $light-secondary-color !important;
}

.text-light-tertiary {
    background-color: $light-tertiary-color !important;
}

.text-border-other-tertiary-color {
    border: 3px solid $other-tertiary-color !important;
}

.text-border-other-secondary-color {
    border: 3px solid $other-secondary-color !important;
}