@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$primary-color: #501A7A;
$secondary-color: #ABDDD1;
$tertiary-color: #CD8BBF;
$dark-pink-color: #471D4C;
$light-secondary-color: #B9FFEA;
$other-secondary-color: #29D3A0;
$light-tertiary-color: #FFC1F2;
$other-tertiary-color: #BA62A7;
$background-color: #F5F5F5;
$background-color-light: #F0F0F5;
$backgorund-color-tertiary: #DCB6D4;
$font-color-dark: #3F414E;
$background-color-yellow:#FFF59A;
$backgorund-color-gray:#D0D5DD;
$black: #000000;
$white: #FFFFFF;
$font-color-medium: #733A67;
$font-color-medium2: #963B8E;
$font: 'Poppins',
sans-serif;
$font-color-gray: #7D7D7D;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;