@import '_variables';
@import '_font';
@import '_background';
@import '_reset';
@import '_buttons';
.rounded-4-5 {
    border-radius: 1.35rem !important;
}

header {
    background-color: $background-color-light !important;
    .has-search .form-control {
        padding-left: 2.375rem;
        background-color: #E4E4E4;
    }
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        text-align: center;
        pointer-events: none;
        color: $font-color-medium !important;
    }
}

nav {
    background-color: $background-color-light !important;
}

main#explore {
    &.ogren {
        background-color: $background-color-light !important;
        .btn-ogren {
            @extend .btn-light-secondary;
        }
        .btn-ogret {
            @extend .btn-primary-transparent;
        }
        #shape-banner {
            .shape-first {
                background-color: $light-secondary-color !important;
            }
            .shape-second {
                background-color: $light-tertiary-color !important;
            }
        }
    }
    &.ogret {
        background-color: $backgorund-color-tertiary !important;
        .btn-ogren {
            @extend .btn-primary-transparent;
        }
        .btn-ogret {
            @extend .btn-light-tertiary;
        }
        #shape-banner {
            .shape-first {
                background-color: $light-tertiary-color !important;
            }
            .shape-second {
                background-color: $light-secondary-color !important;
            }
        }
    }
}