    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/img/gofret_fav_ico.ico">

    {{!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/gofret_fav_ico.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/gofret_icon_32.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/gofret_icon_new16.ico">
    
    <link rel="mask-icon" href="/img/gofret_fav_ico.ico" color="#5bbad5">
    <link rel="shortcut icon" href="/img/gofret_fav_ico.ico">

    <link rel="manifest" href="/img/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"> --}}

     
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/fa.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/hover.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/odometer.min.css"/>

    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/validate.min.js "></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/odometer.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/jquery.noty.packaged.min.js"></script>
    <script src="/js/fa.min.js"></script>
    <script src="/js/main.js"></script>
    

    <title>{{title}}</title>