<header class="py-2">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between ms-4 me-2">
            <a href="/"><img src="../public/img/gofret_logo.webp" alt="logo" width="80" /></a>
            <div class="d-flex align-items-center my-auto ms-3">
                <div class="form-group has-search rounded-5 me-2 my-auto">
                    <!-- <i class="fa fa-search form-control-feedback fa-lg"></i> -->
                    <img class="form-control-feedback mt-1 ms-2" src="../public/img/icons/magnetic-icon.png"
                        alt="ico" />
                    <input type="text" class="form-control rounded-5 fs-6 p-0" placeholder="" />
                </div>
                <a class="my-auto" href="/"><img src="../public/img/icons/chat-icon.png" alt="chat" width="26" /></a>
            </div>
        </div>
    </div>
</header>