    <nav class="fixed-bottom ">
        <div class="container ">
            <div class="d-flex justify-content-around align-items-center py-3 ">
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/home-icon.png " alt="home " width="26 "></a>
                <a href="/ "><img class=" " src="../public/img/icons/heart-icon.png " alt="heart " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/trade-icon.png " alt="trade " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/user-icon.png " alt="user " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/bell-icon.png " alt="bell " width="26 "></a>
            </div>
        </div>
    </nav>