<div class="loader d-flex justify-content-center align-items-center bg-secondary position-fixed" style="height: 100vh; width: 100vw; z-index: 9999;">
        <div class="w-100 d-flex justify-content-center position-relative">
            <img src="/img/loader_back.png" alt="loader" style="width: 50vw;">
            <img class="position-absolute the-o" src="/img/gofret_icon_new2.png" alt="loader" style="width: 10vw; left: 36vw; top: 3vw;">
        </div>
</div>