<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" href="../public/css/fa.min.css">
    <link rel="stylesheet" href="../public/css/animate.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/hover.min.css">
    <link rel="stylesheet" href="../public/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../public/css/odometer.min.css" />


    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/validate.min.js "></script>
    <script src="../public/js/swiper-bundle.min.js"></script>
    <script src="../public/js/odometer.min.js"></script>
    <script src="../public/js/sweetalert2.all.min.js"></script>
    <script src="../public/js/jquery.noty.packaged.min.js"></script>
    <script src="../public/js/fa.min.js"></script>
    <script src="../public/js/main.js"></script>

    <title>ffafeaf</title>
</head>

<body>
    <header>
        <div class="container-fluid d-flex justify-content-center align-items-center p-3">
            <img src="../public/img/gofret_logo.webp" alt="logo" height="26">
        </div>
    </header>




    <main>
        <div class="container p-3">
            <div>
                <h3 class="fw-bold fs-28 text-dark-pink">Günaydın, Burak</h3>
                <p class="fw-light fs-20 text-gray">Verimli vakit geçirmeni diliyoruz.</p>
            </div>
            <div id="calendar" class="mt-4">
                <div class="months">
                    <div class="month-item">Kasım</div>
                    <div class="month-item">Aralık</div>
                </div>
                <div class="weeks">
                    <div class="week-item">1-14</div>
                    <div class="week-item">15-27</div>
                    <div class="week-item">28-9</div>
                    <div class="week-item">10-21</div>
                    <div class="week-item">22-31</div>
                </div>
                <div class="weekdays">
                    <div class="weekday-item-top">pzt</div>
                    <div class="weekday-item-top">sal</div>
                    <div class="weekday-item-top">çar</div>
                    <div class="weekday-item-top">per</div>
                    <div class="weekday-item-top">cum</div>
                    <div class="weekday-item-top">cmt</div>
                    <div class="weekday-item-top">paz</div>
                    <div class="weekday-item">1</div>
                    <div class="weekday-item">2</div>
                    <div class="weekday-item">3</div>
                    <div class="weekday-item">4</div>
                    <div class="weekday-item">5</div>
                    <div class="weekday-item">6</div>
                    <div class="weekday-item">7</div>
                    <div class="weekday-item">8</div>
                    <div class="weekday-item">9</div>
                    <div class="weekday-item">10</div>
                    <div class="weekday-item">11</div>
                    <div class="weekday-item">12</div>
                    <div class="weekday-item">13</div>
                    <div class="weekday-item">14</div>
                </div>
            </div>
        </div>

    </main>


    <nav class="fixed-bottom ">
        <div class="container ">
            <div class="d-flex justify-content-around align-items-center py-3 ">
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/home-icon.png " alt="home " width="26 "></a>
                <a href="/ "><img class=" " src="../public/img/icons/heart-icon.png " alt="heart " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/trade-icon.png " alt="trade " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/user-icon.png " alt="user " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/bell-icon.png " alt="bell " width="26 "></a>
            </div>
        </div>
    </nav>
    <script src="../public../public/js/bootstrap.bundle.min.js "></script>
    <script src="../public../public/js/jquery.min.js "></script>
    <script src="../public../public/js/fa.min.js "></script>
    <script>
        $(document).ready(function() {

            const main = $('#explore');

            $('#ogren').click(function() {
                if (main.hasClass('ogret')) {
                    main.removeClass('ogret');
                    main.addClass('ogren');
                    $('body').addClass('bg-light');
                    $('body').removeClass('bg-tertiary');
                }
            });
            $('#ogret').click(function() {
                if (main.hasClass('ogren')) {
                    main.removeClass('ogren');
                    main.addClass('ogret');
                    $('body').removeClass('bg-light');
                    $('body').addClass('bg-tertiary');
                }
            });
        });
    </script>
</body>

</html>