<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" href="../public/css/fa.min.css">
    <link rel="stylesheet" href="../public/css/animate.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/hover.min.css">
    <link rel="stylesheet" href="../public/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../public/css/odometer.min.css" />


    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/validate.min.js "></script>
    <script src="../public/js/swiper-bundle.min.js"></script>
    <script src="../public/js/odometer.min.js"></script>
    <script src="../public/js/sweetalert2.all.min.js"></script>
    <script src="../public/js/jquery.noty.packaged.min.js"></script>
    <script src="../public/js/fa.min.js"></script>
    <script src="../public/js/main.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="py-2 mb-3 bg-light-tertiary-green-color position-relative " style="z-index: 4;">
        <div class="container">
          <div
            class="d-flex align-items-center justify-content-between ms-4 me-2 "
          >
            <a href="/"
              ><img src="../public/img/gofret_logo.webp" alt="logo" width="80"
            /></a>
            <div class="d-flex align-items-center my-auto ms-3">
              <div class="form-group has-search rounded-5 me-2 my-auto">
                <!-- <i class="fa fa-search form-control-feedback fa-lg"></i> -->
                <img
                  class="form-control-feedback mt-1 ms-2"
                  src="../public/img/icons/magnetic-icon.png"
                  alt="ico"
                />
                <input
                  type="text"
                  class="form-control rounded-5 fs-6 p-0"
                  placeholder=""
                />
              </div>
              <a class="my-auto" href="/"
                ><img
                  src="../public/img/icons/chat-icon.png"
                  alt="chat"
                  width="26"
              /></a>
            </div>
          </div>
        </div>
      </header>
      <div class="position-absolute bg-light-tertiary w-100" style="top: 0; height: 12vw;">

      </div>
      
        <div class="w-100 ">
            
                <p class="fs-20 fw-bold text-dark-pink w-100">Devam Eden Takaslar</p>
                <div class="d-flex w-100 justify-content-around align-items-center">
                    <div >
                        <p class="fs-10 text-medium ">Güncel Takaslar</p>
                        <div class="w-100 bg-color-medium " style="height: 2vw;">
                        </div>
                    </div>
                    <div>
                        <p class="fs-10 text-medium ">Güncel Takaslar</p>
                        <div class="w-25 " style="height: 2vw;">
                        </div>
                    </div>
                    <div>
                        <p class="fs-10 text-medium ">Güncel Takaslar</p>
                        <div class="w-25 " style="height: 2vw;">
                        </div>
                    </div>
                </div>
            
        </div>
      



      <nav class="fixed-bottom ">
        <div class="container ">
            <div class="d-flex justify-content-around align-items-center py-3 ">
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/home-icon.png " alt="home " width="26 "></a>
                <a href="/ "><img class=" " src="../public/img/icons/heart-icon.png " alt="heart " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/trade-icon.png " alt="trade " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/user-icon.png " alt="user " width="26 "></a>
                <a href="/ "><img class="opacity-50 " src="../public/img/icons/bell-icon.png " alt="bell " width="26 "></a>
            </div>
        </div>
    </nav>
    
</body>
</html>