    <div class="container" >
      <div  class="mb-2 w-100">
        <div class="card  rounded-0 p-0" style="height: 280px;">
          <div>
            <div class=" rounded-4  position-relative w-100" style="height: 100px; background-color: #69A596;"></div>
          </div>
          <div class="position-absolute d-flex justify-content-center align-items-center m-2 w-100" style="top:50px;">
            <img src="/img/default_photo.jpg" alt="" class="rounded-circle" alt=""style="width: 100px; height: 100px; border: #4B7E72 solid 1px">
            <div >
              <h1 style="font-size: 20px; color: white;">Burak Gümrah</h1>
              <p style="font-size: 12px;">Haydarpaşa Lisesi</p>
              <p style="font-size: 12px;">İstanbul/Türkiye</p>
          </div>
          
            <div  class="position-absolute d-flex align-items-center m-2 w-100" style="top:100px;">
              <p style="font-size: 12px;">57 tamamlanmamış takas</p>
              
  
            </div>
            <div  class="position-absolute d-flex align-items-center m-2 w-100" style="top:140px;">
              <p style="font-size: 12px;">18 Başarım</p>
              
  
            </div>
            
              
           

          
          
          
          </div>

        </div>
        <div class="progress rounded-4 rounded-top w-100 d-flex position-absolute " style=" height: 30px; top: 320px; background-color: #F2F2F2; background-color: #E4E4E4;">
              
          <div class="rounded-5 rounded-start" role="progressbar" style="width:30vw ; background-color: #ABDDD1;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width:10vw ;  background-color: #ABDDD1; height: 50px;">

            </div>
          </div>
        </div>
        

      </div>
      
    </div>
    <main style="overflow-y: auto; height: 100%;">
      <div class="container " >
        <div >
          <div class=" card m-2 rounded-4 p-2">
            <p style="font-size: 14px;">Hakkında</p>
            <hr style="margin: 0" />
            <div>
              <p>Merhaba node js</p>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <a href="product/Edebiyat">
                <div class="me-2">
                  <i class="fa-solid fa-angle-right fs-1"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div>
          <div class=" card m-2 rounded-4 p-2">
            <p style="font-size: 14px;">İlgi Alanları</p>
            <hr style="margin: 0" />
            <div>
              <div
                class="rounded-4 text-white fw-bold my-2"
                style="background-color: green; width: max-content;"
              >
                <p style="margin: 10px; font-size: 9px;" class="fw-bolder ">Öğren</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col card m-2 rounded-4">
              <p style="font-size: 14px;">Envanterim</p>
              <hr style="margin: 0" />
              <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="fs-14" style="color: #7D7D7D;">Tarım</p>
                    <p  class="fs-12"style="  color: #7D7D7D;">Fındık</p>
                   
                  </div>
                  <div >
                    <div class="w-100 d-flex justify-content-end">
                      <p style="font-size: 10px;  color: #7D7D7D;">lvl.2</p>

                    </div>
                    
                    <div class="progress rounded-5 " style="height: 15px; width: 20vw !important; background-color: #E4E4E4;">
                      <div class="progress-bar" role="progressbar" style="width:10vw ; background-color: rgb(233, 205, 84);" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
    
                  </div>

              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="fs-14" style="  color: #7D7D7D;">Matematik</p>
                    <p  class="fs-12"style="  color: #7D7D7D;">Fındık</p>
                   
                  </div>
                  <div>
                    <div class="w-100 d-flex justify-content-end">
                      <p class="fs-10" style="  color: #7D7D7D;" >lvl.2</p>

                    </div>
                    
                    <div class="progress rounded-5 " style="height: 15px; width: 20vw !important; background-color: #E4E4E4;">
                      <div class="progress-bar" role="progressbar" style="width:10vw ; background-color: rgb(233, 205, 84);" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
    
                  </div>

              </div>
              <div>
                <i class="fa-solid fa-plus"></i>
              </div>
              
            </div>
            <div class="col card m-2 rounded-4">
                <p class="fs-14">Hedeflerim</p>
                <hr style="margin: 0" />
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p style="font-size: 14px;  color: #7D7D7D;">Okul</p>
                        <p style="font-size: 12px;  color: #7D7D7D;">Kulüp Yönetimi</p>
                       
                      </div>
                      <div>
                        <p style="font-size:12px;  color: #7D7D7D;">lvl.5</p>
                        <p style="font-size: 10px;  color: #7D7D7D;">Son 10 Gün</p>
        
                      </div>
    
                  </div>
                  <div>
                    <i class="fa-solid fa-plus"></i>
                  </div>
                </div>
            </div>
              
        </div>
      </div>
      <div class="container w-100">
        <p  class="fs-14" >Rozetler</p>
        <p class="fs-10" style="color: #7D7D7D;">2/5 kazanıldı</p>
        <div class="w-100 d-flex justify-content-around align-items-center" style="overflow-x: auto; ">
            <div style=" margin:0;">
                <div class="rounded-circle  d-flex my-2 justify-content-center align-items-center" style=" margin: 0; background-color: red; width: 50px ; height: 50px;">
                    <i class="fa-solid fa-language" style="font-size: 20px;"></i>

                </div>
                <p style="text-align: center;" >Dil</p>

            </div>
            <div style=" margin:0;">
              <div class="rounded-circle  d-flex my-2 justify-content-center align-items-center" style=" margin: 0; background-color: red; width: 50px ; height: 50px;">
                  <i class="fa-solid fa-language" style="font-size: 20px;"></i>

              </div>
              <p style="text-align: center;" >Dil</p>

          </div>
          <div style=" margin:0;">
            <div class="rounded-circle  d-flex my-2 justify-content-center align-items-center" style=" margin: 0; background-color: red; width: 50px ; height: 50px;">
                <i class="fa-solid fa-language" style="font-size: 20px;"></i>

            </div>
            <p style="text-align: center;" >Dil</p>

        </div>
            

        </div>
        
      </div>
    </main>