<div class="main-wrapper w-100 h-100 d-flex justify-content-center align-items-center">
        <form action="">
            <div class="anim-wrapper position-fixed d-flex justify-content-center align-items-center animate__animated animate__bounceInRight" role="tabPanel" style="width: 100vw; height: 100vh; top: 0px; right: 0px;">
                <div class="card rounded-5 p-4 border-0 d-flex flex-column justify-content-between align-items-center" style="box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25); height: 80vh; width: 80vw;">
                    <img src="/img/gofret_icon_new2.png" alt="logo" style="width: 12vw; max-width: 150px;">
                    <div class="content px-1 h-100 mt-4" style="max-width: 300px;">
                        <h3 class="fs-27 fw-medium text-dark-pink text-center mb-3">Gofret’e hoş geldin<br><span class="fw-thin">yeni dostumuz</span></h3>
                        <p class="fs-15 fw-light text-dark-pink mb-3">Yeni şeyler öğretirken, yeni şeyler de öğreneceğin bu yolculukta başarılar.</p>
                    </div>
                    <div class="bg-secondary position-absolute h-25 w-100 bottom-0 rounded-5 rounded-top d-flex justify-content-center pt-3">
                        <div class="btn btn-white p-3 bg-white" style="box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25); z-index: 10; max-height:68px;">Hadi Başlayalım</div>
                    </div>

                </div>

                <svg class="position-absolute" style="bottom: 5%;" width="386" height="487" viewBox="0 0 386 487" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="193" cy="193" r="193" fill="#9AA2FD"/>
                    <circle cx="193" cy="193" r="193" fill="#471D4C"/>
                    <ellipse cx="193" cy="192.5" rx="165" ry="165.5" fill="#9AA2FD"/>
                    <ellipse cx="193" cy="192.5" rx="165" ry="165.5" fill="#963B8E"/>
                    <ellipse cx="193" cy="192.5" rx="138" ry="138.5" fill="#9AA2FD"/>
                    <ellipse cx="193" cy="192.5" rx="138" ry="138.5" fill="#DA5090"/>
                    <ellipse cx="193" cy="192.5" rx="112" ry="111.5" fill="white"/>
                    <path d="M82.4387 257.29L26 281.679H347.084L292.199 257.29H82.4387Z" fill="#471D4C"/>
                    <path d="M167.486 211.939L156.823 229.086L177.276 253.128H197.9L217.127 228.679L205.225 211.939H167.486Z" fill="#3F4553"/>
                    <path d="M156.823 229.086C156.823 229.086 110.953 232.597 99.446 244.489C87.9393 256.38 93.3529 269.292 104.561 269.292C125.192 269.292 168.845 270.541 189.499 269.292L190.731 241.451L156.823 229.086Z" fill="#3F4553"/>
                    <path d="M215.94 228.496C215.94 228.496 263.975 232.597 275.482 244.489C286.989 256.381 280.358 264.259 270.367 269.293C256.307 276.38 205.628 275.205 179.344 266.595L184.205 241.452L215.94 228.496Z" fill="#3F4553"/>
                    <path d="M218.053 251.85L214.805 243.542L218.852 241.761C218.852 241.761 218.292 236.846 223.242 235.9C228.193 234.954 234.092 238.118 239.842 235.568C245.143 233.217 251.632 231.052 257.688 234.304C258.584 234.784 259.002 235.841 258.696 236.802L258.674 236.876C258.368 237.844 257.412 238.443 256.389 238.339C254.253 238.125 250.445 238.169 246.682 240.423C240.193 244.326 218.053 251.85 218.053 251.85Z" fill="#FEBBA0"/>
                    <path d="M255.844 252.323C255.844 252.323 223.787 246.684 156.263 245.812L149.744 254.562C149.744 254.562 166.545 264.067 182.315 267.503C198.086 270.94 252.528 281.76 276.841 265.094L255.844 252.323Z" fill="#3F4553"/>
                    <path d="M182.315 267.511C166.149 263.815 149.236 254.34 149.236 254.34L150.244 252.648" stroke="#6E758F" stroke-width="1.5925" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M156.263 245.812C156.263 245.812 230.448 244.134 250.244 255.501" stroke="#6E758F" stroke-width="1.5925" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M119.846 250.571C119.846 250.571 133.391 244.289 142.651 248.406" stroke="#6E758F" stroke-width="1.5925" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M151.305 253.113L156.256 245.649L151.305 242.995C151.305 242.995 149.573 238.701 144.719 237.371C139.858 236.048 136.401 238.184 130.868 235.198C125.768 232.441 119.466 229.788 113.178 232.56C112.252 232.966 111.745 233.986 111.976 234.969L111.991 235.043C112.222 236.033 113.126 236.698 114.149 236.676C116.292 236.625 120.093 236.964 123.662 239.507C129.822 243.897 151.305 253.113 151.305 253.113Z" fill="#FEBBA0"/>
                    <path d="M193.927 246.078L214.207 244.104" stroke="#6E758F" stroke-width="1.5925" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M168.136 237.379L179.448 245.487" stroke="#6E758F" stroke-width="1.5925" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M165.216 127.042C165.694 131.669 169.764 135.039 174.304 134.581C178.844 134.122 182.136 129.998 181.659 125.379C181.181 120.752 177.111 117.382 172.571 117.841C168.039 118.291 164.746 122.415 165.216 127.042Z" fill="#3F4553"/>
                    <path d="M182.174 130.405C182.174 130.405 167.747 128.247 165.477 114.773C163.476 102.867 171.548 93.3254 180.397 91.6772C180.404 91.6772 201.663 124.108 182.174 130.405Z" fill="#3F4553"/>
                    <path d="M182.502 92.9559C181.441 93.4733 180.433 94.1532 179.515 95.0327C171.294 102.86 176.498 118.055 183.861 124.913C187.938 128.705 193.896 130.471 199.101 128.535C206.71 125.704 209.092 117.175 207.546 109.578C206.396 103.916 203.223 98.5729 198.541 95.2471C193.859 91.9286 187.534 90.5244 182.502 92.9559Z" fill="#FDBCA0"/>
                    <path d="M181.135 120.331C179.694 121.743 177.185 122.32 175.259 121.647C173.332 120.974 171.749 119.178 171.249 117.094C170.801 115.224 171.286 113.096 172.675 111.95C174.064 110.805 176.566 110.879 177.753 112.364L181.135 120.331Z" fill="#FDBCA0"/>
                    <path d="M179.03 115.365L180.546 142.223C180.747 147.189 184.817 151.136 189.835 151.232C195.629 151.35 200.176 146.339 199.437 140.648L196.376 115.712L179.03 115.365Z" fill="#FDBCA0"/>
                    <path d="M198.437 132.548L198.056 128.868C198.056 128.868 190.589 131.137 183.861 124.906C183.861 124.914 187.736 131.913 198.437 132.548Z" fill="#DF8370"/>
                    <path d="M176.065 111.307C185.788 110.812 194.658 104.353 199.557 96.0307C199.557 96.0307 190.611 87.6274 177.536 92.5423C166.702 96.6072 176.065 111.307 176.065 111.307Z" fill="#3F4553"/>
                    <path d="M177.133 117.485C176.013 117.596 175.035 116.998 174.946 116.148C174.878 115.505 175.334 114.906 176.036 114.596" stroke="#444359" stroke-width="1.1144" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M200.49 115.387C200.714 114.715 201.102 114.183 201.535 113.68L201.744 114.331C201.251 114.146 200.983 113.865 200.706 113.591C200.445 113.303 200.214 113.015 200.004 112.705C199.586 112.091 199.235 111.441 198.981 110.753C199.504 111.278 199.982 111.818 200.482 112.335C200.736 112.586 200.975 112.845 201.236 113.067C201.483 113.281 201.774 113.503 201.976 113.555L202.581 113.695L202.185 114.205C201.782 114.73 201.334 115.217 200.714 115.572C200.639 115.617 200.55 115.587 200.505 115.52C200.482 115.469 200.482 115.424 200.49 115.387Z" fill="#444359"/>
                    <path d="M202.678 117.737C202.379 118.343 201.871 118.868 201.214 119.186C200.564 119.518 199.758 119.585 199.041 119.378C198.309 119.179 197.742 118.706 197.256 118.218C197.04 117.952 196.823 117.678 196.644 117.397C196.487 117.094 196.323 116.799 196.204 116.488C196.48 116.695 196.719 116.917 196.958 117.139L197.697 117.745C198.22 118.085 198.713 118.454 199.28 118.587C199.825 118.757 200.408 118.75 200.983 118.595C201.55 118.432 202.118 118.114 202.678 117.737Z" fill="#444359"/>
                    <path d="M194.86 108.078C195.151 108.935 195.315 109.822 195.255 110.775C195.218 111.241 195.106 111.751 194.755 112.202C194.397 112.66 193.792 112.859 193.262 112.845C192.717 112.837 192.179 112.601 191.813 112.268C191.432 111.936 191.134 111.551 190.91 111.145C190.462 110.324 190.178 109.467 190.036 108.565C190.014 108.425 190.111 108.292 190.252 108.262C190.387 108.24 190.506 108.322 190.544 108.44L190.551 108.455C190.805 109.253 191.141 110.058 191.574 110.753C192.007 111.426 192.597 112.046 193.292 112.024C193.635 112.039 193.956 111.95 194.15 111.706C194.367 111.47 194.471 111.086 194.531 110.694C194.643 109.903 194.568 109.031 194.434 108.196V108.181C194.412 108.063 194.501 107.945 194.621 107.93C194.718 107.915 194.822 107.982 194.86 108.078Z" fill="#444359"/>
                    <path d="M205.702 106.4C205.948 107.124 206.082 107.863 206.067 108.654C206.06 109.046 205.985 109.474 205.731 109.881C205.485 110.31 204.932 110.576 204.455 110.553C203.954 110.546 203.499 110.287 203.208 109.984C202.909 109.674 202.677 109.341 202.506 108.987C202.17 108.277 201.961 107.553 201.856 106.792C201.834 106.651 201.938 106.518 202.088 106.496C202.214 106.481 202.334 106.555 202.371 106.673L202.379 106.688C202.595 107.353 202.857 108.033 203.193 108.625C203.529 109.201 203.984 109.755 204.484 109.726C204.738 109.733 204.94 109.659 205.074 109.452C205.224 109.245 205.298 108.928 205.343 108.595C205.418 107.93 205.358 107.198 205.276 106.503V106.489C205.261 106.37 205.351 106.259 205.47 106.237C205.567 106.237 205.672 106.304 205.702 106.4Z" fill="#444359"/>
                    <path d="M213.767 144.661C213.7 140.153 198.93 136.546 198.93 136.546C198.004 137.559 196.413 139.266 189.715 139.266C183.309 139.266 180.747 137.625 179.747 136.546H173.407C171.996 136.546 170.704 137.345 170.114 138.616C157.413 166.117 164.551 196.833 167.478 211.932C167.747 213.321 194.255 212.383 206.21 213.321C208.794 213.536 214.021 161.047 213.767 144.661Z" fill="#740000"/>
                    <path d="M182.92 183.551C184.235 173.042 185.84 166.737 187.072 168.807C188.162 170.64 187.558 179.834 185.922 188.703C185.93 188.703 182.36 188.052 182.92 183.551Z" fill="#FEBBA0"/>
                    <path d="M191.598 183.551C190.283 173.042 188.678 166.737 187.446 168.807C186.356 170.64 186.961 179.834 188.596 188.703C188.588 188.703 192.158 188.052 191.598 183.551Z" fill="#FEBBA0"/>
                    <path d="M235.369 180.942H218.68L221.331 197.719L191.045 183.093C190.94 181.97 190.798 180.58 190.626 179.11C189.484 179.11 188.334 179.11 187.192 179.095C187.199 180.373 187.221 181.238 187.221 181.238C187.221 181.238 186.632 188.954 187.983 191.526C190.552 196.419 216.828 212.176 224.124 214.046C224.579 214.164 225.035 214.253 225.49 214.312C232.532 215.295 237.198 211.385 237.146 204.349L235.369 180.942Z" fill="#FEBBA0"/>
                    <path d="M183.593 179.036C183.331 180.691 183.1 182.288 182.921 183.551L153.508 197.032L154.747 180.95H138.059L136.289 204.371C136.244 211.407 140.911 215.309 147.945 214.334C148.4 214.267 148.856 214.179 149.311 214.068C156.607 212.198 181.046 199.124 186.266 191.496C187.812 189.242 187.08 181.652 187.08 181.652C187.08 181.652 187.08 180.602 187.05 179.11C185.9 179.087 184.75 179.065 183.593 179.036Z" fill="#FEBBA0"/>
                    <path d="M159.019 190.121C165.545 171.016 165.493 171.001 173.505 136.553C168.143 136.915 167.591 136.051 163.364 138.224C150.685 144.742 138.746 166.153 135.229 190.121H159.019Z" fill="#740000"/>
                    <path d="M217.127 188.237C213.289 174.705 198.93 136.554 198.93 136.554C213.289 136.073 232.883 154.602 237.572 185.761L217.127 188.237Z" fill="#740000"/>
                    <path d="M213.774 158.356L210.75 182.953" stroke="#740000" stroke-width="1.5925" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M161.766 162.392L164.17 188.703" stroke="#740000" stroke-width="1.5925" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M301.825 71.628C264.396 61.3236 269.854 92.2367 277.652 92.2367C280.856 92.2367 287.496 93 295.588 93H320.151C351.341 93 360.309 90.9646 360.699 90.3285C363.428 70.1014 346.923 72.0096 338.086 74.2995C339.515 66.7938 338.007 51.6298 320.54 51.0192C303.072 50.4086 300.785 64.504 301.825 71.628Z" fill="#ABDDD1"/>
                </svg>
            </div>
            <div class="anim-wrapper position-fixed d-flex justify-content-center align-items-center animate__animated d-none" role="tabPanel" style="width: 100vw; height: 100vh; top: 0px; right: 0px;">
                <div class="card rounded-5 p-4 border-0 d-flex flex-column justify-content-between" style="box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25); height: 80vh; width: 80vw;">
                    <h3 class="fw-bold text-dark-pink fs-28">Seni Gofret’e ne getirdi?</h1>
                        <div class="row row-cols-2 h-75">
                            <div class="col">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="card rounded-3 p-3 hvr-fade howCome" style="background-color: #FEB18F;">
                                        <h4 class="mt-5 fs-18 fw-bold text-dark">Hobilerimi paylaşmak!</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column align-items-center"></div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="anim-wrapper position-fixed d-flex justify-content-center align-items-center animate__animated d-none" role="tabPanel" style="width: 100vw; height: 100vh; top: 0px; right: 0px;">
                <div class="card rounded-5 p-4 border-0 d-flex flex-column justify-content-between align-items-center" style="box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25); height: 80vh; width: 80vw;">
                    <img class="mb-5" src="/img/gofret_logo.webp" alt="logo" style="width: 40vw; max-width: 150px;">
                    <div class="content px-3 h-75 w-100">
                        <h3 class="fs-22 fw-medium text-dark-pink text-center mb-4">İlgini ne çeker?</h3>
                        <div class="interests">
                            <div class="pill">dafw</div>
                            <div class="pill">faf</div>
                            <div class="pill">daxcxafw</div>
                            <div class="pill">dawqedsacxafw</div>
                        </div>
                    </div>
                    <div class="card-footer p-0 w-100 border-0 bg-transparent pt-1">
                        <div class="multi-step d-flex justify-content-center mb-2 pt-1">
                            <svg class="current" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4"/>
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>
                        </div>
                        <div class="btn btn-dark-pink">Haydi Başlayalım!</div>
                    </div>
                </div>
            </div>
            <div class="anim-wrapper position-fixed d-flex justify-content-center align-items-center animate__animated d-none" role="tabPanel" style="width: 100vw; height: 100vh; top: 0px; right: 0px;">
                <div class="card rounded-5 p-4 border-0 d-flex flex-column justify-content-between align-items-center" style="box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25); height: 80vh; width: 80vw;">
                    <img class="mb-5" src="/img/gofret_logo.webp" alt="logo" style="width: 40vw; max-width: 150px;">
                    <div class="content mx-auto px-3 w-100">
                        <h3 class="fs-22 fw-medium text-dark-pink text-center mb-4">birbirimizi tanıyalım,<br>İlk sen</h3>
                        <div class="form-group mb-5">
                            <h5 class="fs-16 fw-light text-dark-pink text-center mb-3">Kaçıncı Sınıftasın</h5>
                            <!-- custom radia button -->
                            <div class="custom-radio">
                                <input type="radio" id="radio-1" name="radio" class="custom-control-input">
                                <label class="custom-control-label" for="radio-1">12.</label>
                                <input type="radio" id="radio-2" name="radio" class="custom-control-input">
                                <label class="custom-control-label" for="radio-2">11.</label>
                                <input type="radio" id="radio-3" name="radio" class="custom-control-input">
                                <label class="custom-control-label" for="radio-3">10.</label>
                                <input type="radio" id="radio-4" name="radio" class="custom-control-input">
                                <label class="custom-control-label" for="radio-4">9.</label>
                            </div>
                            <style>
                                .custom-radio {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                }
                                
                                .custom-radio input[type="radio"] {
                                    display: none;
                                }
                                
                                .custom-radio label {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 16px;
                                    /* padding: 5px 20px; */
                                    margin: 4px;
                                    border: 2px solid #29D3A0;
                                    background-color: #CDFFF0;
                                    color: #471D4C;
                                    font-size: 14px;
                                    font-weight: 500;
                                    cursor: pointer;
                                    transition: all 0.3s ease;
                                    width: 50px;
                                    height: 30px;
                                }
                                
                                .custom-radio input[type="radio"]:checked+label {
                                    background-color: #501A7A !important;
                                    color: white !important;
                                    border: 2px solid #471D4C !important;
                                    transition: all 0.3s ease;
                                }
                            </style>
                        </div>
                        <div class="form-group">
                            <h5 class="fs-16 fw-light text-dark-pink text-center mb-3">Hangi Okuldası?</h5>
                            <input type="text" class="form-control" placeholder="Şehir">
                        </div>
                    </div>
                    <div class="card-footer p-0 w-100 border-0 bg-transparent pt-1">
                        <div class="multi-step d-flex justify-content-center mb-2 pt-1">
                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="current" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4"/>
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>
                        </div>
                        <div class="btn btn-dark-pink">Devam</div>
                    </div>
                </div>
            </div>
            <div class="anim-wrapper position-fixed d-flex justify-content-center align-items-center animate__animated d-none" role="tabPanel" style="width: 100vw; height: 100vh; top: 0px; right: 0px;">
                <div class="card rounded-5 p-4 border-0 d-flex flex-column justify-content-between align-items-center" style="box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25); height: 80vh; width: 80vw;">
                    <img class="mb-5" src="/img/gofret_logo.webp" alt="logo" style="width: 40vw; max-width: 150px;">
                    <div class="content mx-auto px-3 w-100">
                        <h3 class="fs-22 fw-medium text-dark-pink text-center mb-4">Tamam Sıra Bizde</h3>

                        <h5 class="fs-16 fw-light text-dark-pink text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h5>

                    </div>
                    <div class="card-footer p-0 w-100 border-0 bg-transparent pt-1">
                        <div class="multi-step d-flex justify-content-center mb-2 pt-1">
                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4"/>
                        </svg>

                            <svg class="current" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>
                        </div>
                        <div class="btn btn-dark-pink">Anladınm, Devam</div>
                    </div>
                </div>
            </div>
            <div class="anim-wrapper position-fixed d-flex justify-content-center align-items-center animate__animated d-none" role="tabPanel" style="width: 100vw; height: 100vh; top: 0px; right: 0px;">
                <div class="card rounded-5 p-4 border-0 d-flex flex-column justify-content-between align-items-center" style="box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25); height: 80vh; width: 80vw;">
                    <img class="mb-5" src="/img/gofret_logo.webp" alt="logo" style="width: 40vw; max-width: 150px;">
                    <div class="content mx-auto px-3 w-100">
                        <h3 class="fs-22 fw-medium text-dark-pink text-center mb-4">Çok Az Kaldı</h3>
                        <div class="section text-center">
                            <div class="form-group">
                                <input type="email" name="logemail" class="form-style" placeholder="E-posta adresi" id="logemail" autocomplete="off" required>
                                <svg class="input-icon" width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.59309 13.1821C5.30207 13.1821 3.44482 15.1358 3.44482 17.5458C3.44482 18.9917 4.55917 20.1639 5.93378 20.1639H14.2303C15.6049 20.1639 16.7193 18.9917 16.7193 17.5458C16.7193 15.1358 14.862 13.1821 12.571 13.1821H7.59309Z" fill="#626262"/>
                                        <path d="M10.0821 2.70947C7.79108 2.70947 5.93384 4.66314 5.93384 7.07311C5.93384 9.48308 7.79108 11.4367 10.0821 11.4367C12.3731 11.4367 14.2304 9.48308 14.2304 7.07311C14.2304 4.66314 12.3731 2.70947 10.0821 2.70947Z" fill="#626262"/>
                                    </svg>
                            </div>
                            <div class="form-group mt-2">
                                <input type="password" name="logpass" class="form-style" placeholder="Şifre" id="logpass" autocomplete="off" required>
                                <svg class="input-icon" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.77641 6.60889H10.0973C10.5313 6.60887 10.9058 6.60886 11.2141 6.63387C11.5397 6.66026 11.8634 6.71852 12.1749 6.87604C12.6397 7.11104 13.0176 7.48601 13.2544 7.94722C13.4131 8.25636 13.4718 8.57764 13.4984 8.90065C13.5236 9.20666 13.5236 9.57829 13.5236 10.0089V13.8304C13.5236 14.261 13.5236 14.6326 13.4984 14.9386C13.4718 15.2616 13.4131 15.5829 13.2544 15.892C13.0176 16.3532 12.6397 16.7282 12.1749 16.9632C11.8634 17.1207 11.5397 17.179 11.2141 17.2054C10.9057 17.2304 10.5313 17.2304 10.0973 17.2303H3.7764C3.34238 17.2304 2.96796 17.2304 2.65956 17.2054C2.33405 17.179 2.0103 17.1207 1.69876 16.9632C1.23399 16.7282 0.856128 16.3532 0.619318 15.892C0.460582 15.5829 0.401864 15.2616 0.375269 14.9386C0.350073 14.6326 0.350085 14.261 0.350098 13.8303V10.0089C0.350085 9.57824 0.350073 9.20667 0.375269 8.90065C0.401864 8.57764 0.460582 8.25636 0.619318 7.94722C0.856128 7.48601 1.23399 7.11104 1.69876 6.87604C2.0103 6.71852 2.33405 6.66026 2.65956 6.63387C2.96795 6.60886 3.34241 6.60887 3.77641 6.60889ZM6.93685 11.5111C6.48213 11.5111 6.11351 11.8769 6.11351 12.3281V13.1452C6.11351 13.5964 6.48213 13.9622 6.93685 13.9622C7.39157 13.9622 7.76019 13.5964 7.76019 13.1452V12.3281C7.76019 11.8769 7.39157 11.5111 6.93685 11.5111Z" fill="#626262"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.6438 4.15779C3.6438 2.35284 5.11829 0.889648 6.93717 0.889648C8.75606 0.889648 10.2305 2.35284 10.2305 4.15779V6.60889H8.58386V4.15779C8.58386 3.25532 7.84661 2.52372 6.93717 2.52372C6.02773 2.52372 5.29049 3.25532 5.29049 4.15779V6.60889H3.6438V4.15779Z" fill="#626262"/>
                                    </svg>
                            </div>
                            <p class="mt-3 fs-11 text-start">Devam diyerek <a href="#"><strong>Kullanım Şartlarımızı</strong></a> kabul etmiş sayılırsınız.</p>
                        </div>
                        <style>
                            .form-group {
                                position: relative;
                                display: block;
                                margin: 0;
                                padding: 0;
                            }
                            
                            .form-style {
                                padding: 13px 20px;
                                padding-left: 55px;
                                height: 48px;
                                width: 100%;
                                font-weight: 500;
                                border-radius: 4px;
                                font-size: 12px;
                                line-height: 22px;
                                letter-spacing: 0.5px;
                                outline: none;
                                color: #383838;
                                background-color: #CDFFF0;
                                border: none;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                                /* box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2); */
                            }
                            
                            .form-style:focus,
                            .form-style:active {
                                border: none;
                                outline: none;
                                /* box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2); */
                            }
                            
                            .input-icon {
                                position: absolute;
                                top: 0;
                                left: 18px;
                                height: 48px;
                                font-size: 24px;
                                line-height: 48px;
                                text-align: left;
                                color: #ffeba7;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input:-ms-input-placeholder {
                                color: #676767;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input::-moz-placeholder {
                                color: #676767;
                                opacity: 0.7;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input:-moz-placeholder {
                                color: #676767;
                                opacity: 0.7;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input::-webkit-input-placeholder {
                                color: #676767;
                                opacity: 0.7;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input:focus:-ms-input-placeholder {
                                opacity: 0;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input:focus::-moz-placeholder {
                                opacity: 0;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input:focus:-moz-placeholder {
                                opacity: 0;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                            
                            .form-group input:focus::-webkit-input-placeholder {
                                opacity: 0;
                                -webkit-transition: all 200ms linear;
                                transition: all 200ms linear;
                            }
                        </style>
                        <div class="d-flex flex-column text-center align-items-center mt-5">
                            <p class="fw-light fs-16 text-dark-pink">Ya Da</p>
                            <div class="google p-2 mt-3 rounded-circle" style="background-color: #CDFFF0;">
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_190_919)">
                                    <path d="M24.056 10.3267L13.8587 10.3262C13.4084 10.3262 13.0435 10.6911 13.0435 11.1414V14.399C13.0435 14.8492 13.4084 15.2142 13.8587 15.2142H19.6012C18.9724 16.8461 17.7987 18.2127 16.3014 19.0811L18.75 23.3198C22.6778 21.0482 25 17.0624 25 12.6006C25 11.9653 24.9531 11.5111 24.8595 10.9998C24.7883 10.6112 24.451 10.3267 24.056 10.3267Z" fill="#167EE6"/>
                                    <path d="M12.5 20.1088C9.6897 20.1088 7.23638 18.5734 5.91875 16.3013L1.68018 18.7443C3.83716 22.4827 7.87788 25.0001 12.5 25.0001C14.7674 25.0001 16.9069 24.3897 18.75 23.3257V23.3199L16.3014 19.0812C15.1813 19.7308 13.8853 20.1088 12.5 20.1088Z" fill="#12B347"/>
                                    <path d="M18.75 23.3256V23.3198L16.3014 19.0811C15.1814 19.7306 13.8854 20.1087 12.5 20.1087V25.0001C14.7674 25.0001 16.907 24.3896 18.75 23.3256Z" fill="#0F993E"/>
                                    <path d="M4.89131 12.5C4.89131 11.1148 5.26934 9.8189 5.9188 8.69893L1.68022 6.25586C0.610449 8.09312 0 10.2268 0 12.5C0 14.7733 0.610449 16.907 1.68022 18.7442L5.9188 16.3012C5.26934 15.1812 4.89131 13.8853 4.89131 12.5Z" fill="#FFD500"/>
                                    <path d="M12.5 4.89131C14.3325 4.89131 16.0158 5.54248 17.3306 6.62564C17.655 6.89282 18.1264 6.87354 18.4235 6.57642L20.7316 4.26831C21.0688 3.9312 21.0447 3.37939 20.6846 3.06699C18.4817 1.15591 15.6155 0 12.5 0C7.87788 0 3.83716 2.51743 1.68018 6.25581L5.91875 8.69888C7.23638 6.42676 9.6897 4.89131 12.5 4.89131Z" fill="#FF4B26"/>
                                    <path d="M17.3307 6.62563C17.655 6.89282 18.1265 6.87354 18.4236 6.57642L20.7317 4.26831C21.0688 3.9312 21.0447 3.37939 20.6847 3.06699C18.4818 1.15586 15.6156 0 12.5 0V4.89131C14.3325 4.89131 16.0159 5.54248 17.3307 6.62563Z" fill="#D93F21"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_190_919">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer p-0 w-100 border-0 bg-transparent pt-1">
                        <div class="multi-step d-flex justify-content-center mb-2 pt-1">
                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4"/>
                        </svg>

                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>

                            <svg class="current" xmlns="http://www.w3.org/2000/svg">
                            <rect rx="4" />
                        </svg>
                        </div>
                        <div class="btn btn-dark-pink">Devam</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        var stepIndex = 0;
        $(document).ready(function() {
            //body background bg-light-secondary
            $('body').addClass('bg-light-secondary');
            const steps = $('[role="tabPanel"]');
            //if btn clicked next step
            $('.btn').click(function() {
                if (stepIndex < steps.length - 1) {
                    steps.eq(stepIndex).removeClass('animate__fadeInRight');
                    steps.eq(stepIndex).addClass('animate__fadeOutLeft');
                    stepIndex++;
                    steps.eq(stepIndex).removeClass('d-none');
                    steps.eq(stepIndex).addClass('animate__fadeInRight');
                }
            });
            $('.howCome').click(function() {
                if (stepIndex < steps.length - 1) {
                    steps.eq(stepIndex).removeClass('animate__fadeInRight');
                    steps.eq(stepIndex).addClass('animate__fadeOutLeft');
                    stepIndex++;
                    steps.eq(stepIndex).removeClass('d-none');
                    steps.eq(stepIndex).addClass('animate__fadeInRight');
                }
            });

            $('.interests .pill').click(function() {
                $(this).toggleClass('active');
            });

            $('#email').on('input', function() {
                var name = document.myform.name.value;
                var password = document.myform.password.value;

                if (name == null || name == "") {
                    alert("Name can't be blank");
                    return false;
                } else if (password.length < 6) {
                    alert("Password must be at least 6 characters long.");
                    return false;
                }
            });
        });
    </script>