@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.fs-7 {
  font-size: 0.438rem;
}

.fs-9 {
  font-size: 0.563rem;
}

.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.688rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.813rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.938rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.063rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-19 {
  font-size: 1.188rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.313rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.438rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.563rem;
}

.text-primary {
  color: #501A7A !important;
}

.text-secondary {
  color: #ABDDD1 !important;
}

.text-tertiary {
  color: #CD8BBF !important;
}

.text-light {
  color: #FFFFFF !important;
}

.text-medium {
  color: #733A67 !important;
}

.text-gray {
  color: #7D7D7D !important;
}

.text-dark {
  color: #3F414E !important;
}

.text-medium2 {
  color: #963B8E !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semiBold {
  font-weight: 600 !important;
}

.text-dark-pink {
  color: #471D4C !important;
}

.text-light-green-color {
  color: #69A596 !important;
}

.text-light-secondary {
  background-color: #B9FFEA !important;
}

.text-light-tertiary {
  background-color: #FFC1F2 !important;
}

.text-border-other-tertiary-color {
  border: 3px solid #BA62A7 !important;
}

.text-border-other-secondary-color {
  border: 3px solid #29D3A0 !important;
}

.text-border-dark-pink-color {
  border: 3px solid #471D4C !important;
}

.text-border-white {
  border: 1px solid #FFFFFF !important;
}

.text-light-green-secondary-color {
  color: #69A596 !important;
}

.bg-primary {
  background-color: #501A7A !important;
}

.bg-secondary {
  background-color: #ABDDD1 !important;
}

.bg-tertiary {
  background-color: #DCB6D4 !important;
}

.bg-light {
  background-color: #F0F0F5 !important;
}

.bg-light-secondary {
  background-color: #B9FFEA !important;
}

.bg-light-tertiary {
  background-color: #FFC1F2 !important;
}

.bg-color-yellow {
  background-color: #FFF59A !important;
}

.bg-color-gray {
  background-color: #D0D5DD !important;
}

.bg-color-white {
  background-color: #FFFFFF !important;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  transition: all 0.2s ease-in;
  background-color: #F0F0F5 !important;
}

.d-none {
  display: none !important;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn-light-secondary, main#explore.ogren .btn-ogren {
  background-color: #B9FFEA;
  color: #29D3A0;
  border: 2px solid #29D3A0;
}

.btn-primary {
  background-color: #501A7A;
  color: #FFFFFF;
  border: 0;
}

.btn-dark-pink {
  background-color: #471D4C;
  color: #FFFFFF;
  border: 0;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 10px 20px;
  width: 100%;
  font-weight: 500;
  font-size: 22px;
}
@media screen and (max-width: 365px) {
  .btn-dark-pink {
    font-size: 18px;
  }
}

.btn-primary-transparent, main#explore.ogret .btn-ogren, main#explore.ogren .btn-ogret {
  border: 2px solid #501A7A;
  color: #501A7A;
}

.btn-light-tertiary, main#explore.ogret .btn-ogret {
  background-color: #FFC1F2;
  color: #BA62A7;
  border: 2px solid #BA62A7;
}

.multi-step svg {
  margin: 0 2px;
  width: 8px;
  height: 8px;
}
.multi-step svg rect {
  fill: #C4C4C4;
  width: 8px;
  height: 8px;
}
.multi-step svg.current {
  width: 27px !important;
  height: 8px !important;
}
.multi-step svg.current rect {
  fill: #471D4C !important;
  width: 27px !important;
  height: 8px !important;
}

.rounded-4-5 {
  border-radius: 1.35rem !important;
}

header {
  background-color: #F0F0F5;
}
header .has-search .form-control {
  padding-left: 2.375rem;
  background-color: #E4E4E4;
}
header .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
  color: #733A67 !important;
}

nav {
  background-color: #F0F0F5 !important;
}

main#explore.ogren #shape-banner .shape-first {
  background-color: #B9FFEA !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren #shape-banner .shape-second {
  background-color: #FFC1F2 !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card {
  background-color: #FFFFFF !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card .card-top {
  background-color: #B9FFEA !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card .card-body .content .category h4 {
  color: #3F414E !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card .card-body .content .category i {
  color: #733A67 !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card .card-body .content .category h5 {
  color: #963B8E !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card .card-body .content p {
  color: #7D7D7D !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card .card-body .other .level {
  background-color: #29D3A0 !important;
  transition: all 0.2s ease-in;
  color: #FFFFFF !important;
}
main#explore.ogren .card .card-body .other .price svg {
  fill: #000000 !important;
  transition: all 0.2s ease-in;
}
main#explore.ogren .card .card-body .other .price p {
  color: #3F414E !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret #shape-banner .shape-first {
  background-color: #FFC1F2 !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret #shape-banner .shape-second {
  background-color: #B9FFEA !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card {
  background-color: #FFC1F2 !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card .card-top {
  background-color: #FFFFFF !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card .card-body .content .category h4 {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card .card-body .content .category i {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card .card-body .content .category h5 {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card .card-body .content p {
  color: #733A67 !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card .card-body .other .level {
  background-color: #B782AC !important;
  transition: all 0.2s ease-in;
  color: #FFC1F2 !important;
}
main#explore.ogret .card .card-body .other .price svg {
  fill: #471D4C !important;
  transition: all 0.2s ease-in;
}
main#explore.ogret .card .card-body .other .price p {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}

.pill-selection .pill {
  position: absolute;
}
.pill-selection .pill p {
  font-weight: bold;
  font-size: 1.0625rem;
}

/*# sourceMappingURL=style.css.map */
