@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.fs-7 {
  font-size: 0.438rem !important;
}

.fs-9 {
  font-size: 0.563rem !important;
}

.fs-10 {
  font-size: 0.625rem !important;
}

.fs-11 {
  font-size: 0.688rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.813rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-15 {
  font-size: 0.938rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-17 {
  font-size: 1.063rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-19 {
  font-size: 1.188rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-21 {
  font-size: 1.313rem !important;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.fs-23 {
  font-size: 1.438rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

.fs-25 {
  font-size: 1.563rem !important;
}

.fs-30 {
  font-size: 1.875rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}

.fs-33 {
  font-size: 2.063rem !important;
}

.fs-34 {
  font-size: 2.125rem !important;
}

.fs-35 {
  font-size: 2.188rem !important;
}

.text-primary {
  color: #501A7A !important;
}

.text-secondary {
  color: #ABDDD1 !important;
}

.text-tertiary {
  color: #CD8BBF !important;
}

.text-light {
  color: #FFFFFF !important;
}

.text-medium {
  color: #733A67 !important;
}

.text-gray, .accordion.disabled #main-btn {
  color: #7D7D7D !important;
}

.text-dark {
  color: #3F414E !important;
}

.text-medium2 {
  color: #963B8E !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semiBold {
  font-weight: 600 !important;
}

.text-dark-pink {
  color: #471D4C !important;
}

.text-light-green-color {
  color: #69A596 !important;
}

.text-light-secondary {
  background-color: #B9FFEA !important;
}

.text-light-tertiary {
  background-color: #FFC1F2 !important;
}

.text-other-tertiary-color, .accordion#ogret #main-btn {
  color: #BA62A7 !important;
}

.text-border-other-tertiary-color {
  border: 3px solid #BA62A7 !important;
}

.text-border-other-secondary-color {
  border: 3px solid #29D3A0 !important;
}

.text-border-dark-pink-color {
  border: 3px solid #471D4C !important;
}

.text-border-white {
  border: 1px solid #FFFFFF !important;
}

.text-light-green-secondary-color {
  color: #69A596 !important;
}

.text-other-secondayu-color {
  color: #29D3A0 !important;
}

.bg-primary {
  background-color: #501A7A !important;
}

.bg-secondary {
  background-color: #ABDDD1 !important;
}

.bg-tertiary {
  background-color: #DCB6D4 !important;
}

.bg-light {
  background-color: #F0F0F5 !important;
}

.bg-light-secondary {
  background-color: #B9FFEA !important;
}

.bg-light-tertiary, .accordion#ogret #main-btn {
  background-color: #FFC1F2 !important;
}

.bg-color-yellow {
  background-color: #FFF59A !important;
}

.bg-color-gray {
  background-color: #D0D5DD !important;
}

.bg-color-white, .accordion.disabled #main-btn {
  background-color: #FFFFFF !important;
}

.bg-transparent-gray {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.bg-other-secodary {
  background-color: #29D3A0;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  transition: all 0.2s ease-in;
  background-color: #FFFFFF !important;
}

.d-none {
  display: none !important;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn-light-secondary, .accordion#ogren #main-btn, #explore.ogren .btn-ogren {
  background-color: #B9FFEA;
  color: #29D3A0;
  border: 2px solid #29D3A0;
}

.btn-primary, .accordion .content-btn {
  background-color: #501A7A;
  color: #FFFFFF;
  border: 0;
}

.btn-dark-pink {
  background-color: #471D4C;
  color: #FFFFFF;
  border: 0;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 10px 20px;
  width: 100%;
  font-weight: 500;
  font-size: 22px;
}
@media screen and (max-width: 365px) {
  .btn-dark-pink {
    font-size: 18px;
  }
}

.btn-primary-transparent, #explore.ogret .btn-ogren, #explore.ogren .btn-ogret {
  border: 2px solid #501A7A;
  color: #501A7A;
  background-color: transparent !important;
}

.btn-light-tertiary, #explore.ogret .btn-ogret {
  background-color: #FFC1F2;
  color: #BA62A7;
  border: 2px solid #BA62A7;
}

.btn-white {
  background-color: #FFFFFF;
  color: #471D4C;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 22px;
}

.btn-gray, .accordion.disabled .content-btn {
  background-color: #7D7D7D;
  color: #FFFFFF;
  border-radius: 0.8rem;
  font-size: 12px;
}

.multi-step svg {
  margin: 0 4px;
  width: 8px;
  height: 8px;
}
.multi-step svg rect {
  fill: #C4C4C4;
  width: 8px;
  height: 8px;
}
.multi-step svg.current {
  width: 27px !important;
  height: 8px !important;
}
.multi-step svg.current rect {
  fill: #471D4C !important;
  width: 27px !important;
  height: 8px !important;
}

.rounded-4-5 {
  border-radius: 1.35rem !important;
}

header {
  background-color: transparent;
}
header .has-search .form-control {
  padding-left: 2.375rem !important;
  background-color: #fff;
  border: 2px #FFC1F2 solid;
}
header .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
  color: #733A67 !important;
}

nav {
  background-color: #F0F0F5 !important;
}

#explore.ogren #shape-banner svg {
  transition: all 0.6s ease-in;
  z-index: -1;
}
#explore.ogren #shape-banner .shape-first {
  background-color: #8abfa3 !important;
  color: #FFFFFF;
  transition: all 0.6s ease-in;
}
#explore.ogren #shape-banner .shape-first .banner-text {
  color: #FFFFFF;
  transition: all 0.6s ease-in;
}
#explore.ogren #shape-banner .shape-first .leftTop {
  position: absolute;
  top: 0;
  left: 0;
}
#explore.ogren #shape-banner .shape-first .leftTop path {
  transition: all 0.6s ease-in;
  fill: #ffc1f2;
}
#explore.ogren #shape-banner .shape-first .rightTop {
  position: absolute;
  top: 0;
  right: 0;
}
#explore.ogren #shape-banner .shape-first .rightTop path {
  transition: all 0.6s ease-in;
  fill: #69a596;
}
#explore.ogren #shape-banner .shape-first .middleBottom {
  position: absolute;
  bottom: 0;
  left: 20vw;
}
#explore.ogren #shape-banner .shape-first .middleBottom path {
  transition: all 0.6s ease-in;
  fill: #cd8bbf;
}
#explore.ogren #shape-banner .shape-second {
  background-color: #FFC1F2 !important;
  transition: all 0.6s ease-in;
}
#explore.ogren #shape-banner .shpae-third {
  background-color: #FFFFFF !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card {
  background-color: #FFFFFF !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card .card-top {
  background-color: #B9FFEA !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card .card-body .content .category h4 {
  color: #3F414E !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card .card-body .content .category i {
  color: #733A67 !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card .card-body .content .category h5 {
  color: #963B8E !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card .card-body .content p {
  color: #7D7D7D !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card .card-body .other .level {
  background-color: #29D3A0 !important;
  transition: all 0.2s ease-in;
  color: #FFFFFF !important;
}
#explore.ogren .card .card-body .other .price svg {
  fill: #000000 !important;
  transition: all 0.2s ease-in;
}
#explore.ogren .card .card-body .other .price p {
  color: #3F414E !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .btn-ogren {
  background-color: transparent !important;
}
#explore.ogret #shape-banner .shape-first {
  color: #471D4C !important;
  background-color: #ffc1f2 !important;
  transition: all 0.6s ease-in;
}
#explore.ogret #shape-banner .shape-first .banner-text {
  color: #471D4C !important;
  transition: all 0.6s ease-in;
}
#explore.ogret #shape-banner .shape-first svg {
  transition: all 0.6s ease-in;
  z-index: -1;
}
#explore.ogret #shape-banner .shape-first .leftTop {
  position: absolute;
  top: 0;
  left: 0;
}
#explore.ogret #shape-banner .shape-first .leftTop path {
  transition: all 0.6s ease-in;
  fill: #b9ffea;
}
#explore.ogret #shape-banner .shape-first .rightTop {
  position: absolute;
  top: 0;
  right: 0;
}
#explore.ogret #shape-banner .shape-first .rightTop path {
  transition: all 0.6s ease-in;
  fill: #cd8bbf;
}
#explore.ogret #shape-banner .shape-first .middleBottom {
  position: absolute;
  bottom: 0;
  left: 20vw;
}
#explore.ogret #shape-banner .shape-first .middleBottom path {
  transition: all 0.6s ease-in;
  fill: #8abfa3;
}
#explore.ogret #shape-banner .shape-second {
  background-color: #B9FFEA !important;
  transition: all 0.2s ease-in;
}
#explore.ogret #shape-banner .shpae-third {
  background-color: #B9FFEA !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card {
  background-color: #FFC1F2 !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card .card-top {
  background-color: #FFFFFF !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card .card-body .content .category h4 {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card .card-body .content .category i {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card .card-body .content .category h5 {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card .card-body .content p {
  color: #733A67 !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card .card-body .other .level {
  background-color: #b782ac !important;
  transition: all 0.2s ease-in;
  color: #FFC1F2 !important;
}
#explore.ogret .card .card-body .other .price svg {
  fill: #471D4C !important;
  transition: all 0.2s ease-in;
}
#explore.ogret .card .card-body .other .price p {
  color: #471D4C !important;
  transition: all 0.2s ease-in;
}

.pill-selection .pill {
  position: absolute;
}
.pill-selection .pill p {
  font-weight: bold;
  font-size: 1.0625rem;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.interests .pill {
  margin: 0.3rem;
  background-color: #cdfff0 !important;
  color: #3F414E !important;
  border: 2px solid #29D3A0 !important;
  border-radius: 0.7rem !important;
  padding: 5px 10px;
  transition: all 0.2s ease-in;
}
.interests .pill.active {
  background-color: #501A7A !important;
  color: #FFFFFF !important;
  border: 2px solid #471D4C !important;
  transition: all 0.2s ease-in;
}

.the-o {
  /* infinite rotate anim*/
  animation: spin 2s linear infinite;
}

#calendar .viewport-arrows {
  position: relative;
}
#calendar .viewport-arrows .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #FFFFFF !important;
  border: 2px solid #29D3A0 !important;
  transition: all 0.2s ease-in;
}
#calendar .viewport-arrows .arrow.left {
  left: 0;
}
#calendar .viewport-arrows .arrow.left svg {
  transform: rotate(180deg);
}
#calendar .viewport-arrows .arrow.right {
  right: 0;
}
#calendar .viewport-arrows .arrow:hover {
  background-color: #501A7A !important;
  border: 2px solid #471D4C !important;
  transition: all 0.2s ease-in;
}
#calendar .months {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  margin-bottom: 0.6rem;
}
#calendar .months .month-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29D3A0;
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 0.5rem 0.5rem;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}
#calendar .weeks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}
#calendar .weeks .week-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: #B9FFEA;
  width: 100%;
  border-radius: 0.3rem 0.3rem;
  color: #471D4C;
  font-weight: 500;
  font-size: 15px;
  padding: 0.3rem 0rem;
  transition: all 0.4s ease-in-out;
}
#calendar .weeks .week-item.selected {
  background-color: #501A7A;
  color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}
#calendar .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5rem;
  background-color: #ECC3E3;
  border-radius: 10px;
  padding: 0.5rem;
  position: relative;
}
#calendar .weekdays .selection-cursor {
  position: absolute;
  background-color: #ECC3E3;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 14px;
  height: 14px;
  z-index: 2;
  top: 1px;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
}
#calendar .weekdays .selection-cursor.first-selected {
  left: 7%;
}
#calendar .weekdays .selection-cursor.second-selected {
  left: 28%;
}
#calendar .weekdays .selection-cursor.third-selected {
  left: 49%;
}
#calendar .weekdays .selection-cursor.fourth-selected {
  left: 69%;
}
#calendar .weekdays .selection-cursor.fifth-selected {
  left: 89%;
}
#calendar .weekdays .weekday-item-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #000000;
  font-size: 12px;
}
#calendar .weekdays .weekday-item {
  width: 100%;
  color: #000000;
  padding-bottom: 20px;
  height: 96px;
}
#calendar .weekdays .weekday-item .weekday-num {
  font-size: 13px;
  text-align: center;
}
#calendar .weekdays .weekday-item .weekday-list {
  padding: 0;
  padding-left: 0.6rem;
}
#calendar .weekdays .weekday-item .weekday-list .weekday-to-do {
  color: #733A67;
  font-size: 7px;
}

#selection-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#selection-bar .selection {
  margin: 0 0.2rem;
}
#selection-bar .selection .selection-text {
  font-size: 0.3rem;
  padding: 0 1.2vw;
  color: #7D7D7D;
  text-align: center;
}
#selection-bar .selection .selection-bottom {
  width: 100%;
  height: 0.2rem;
  background-color: #7D7D7D;
}
#selection-bar .selection.selected .selection-text {
  color: #471D4C !important;
}
#selection-bar .selection.selected .selection-bottom {
  background-color: #471D4C !important;
}

.shadow-1 {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.shadow-2 {
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25) !important;
}

.card {
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.accordion .content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.accordion#ogren .accordion-header {
  color: #23C997;
}
.accordion#ogren .content .inside {
  border-top: 3px solid #E4FDF1;
}
.accordion#ogren .card-header {
  background-color: #B9FFEA;
}
.accordion#ogren .card-footer {
  background-color: #29D3A0;
}
.accordion#ogret .accordion-header {
  color: #BA62A7;
}
.accordion#ogret .content .inside {
  border-top: 3px solid #FFC1F2;
}
.accordion#ogret .card-header {
  background-color: #FFC1F2;
}
.accordion#ogret .card-footer {
  background-color: transparent;
}
.accordion.disabled .card-header {
  background-color: #858585 !important;
}
.accordion.disabled .card-footer {
  background-color: #ADADAD !important;
}

/*# sourceMappingURL=style.css.map */
