    <header>
        <div class="container-fluid d-flex justify-content-center align-items-center p-3">
            <img src="../public/img/gofret_logo.webp" alt="logo" height="26">
        </div>
    </header>