    <div class="backgorund position-fixed">
        <div style="position: fixed; top: 0; left: 0;">
            <svg width="281" height="240" viewBox="0 0 281 240" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M-55.4242 186.855C-107.827 128.405 -88.7108 25.7984 -12.7275 -42.3235C63.2558 -110.445 167.333 -118.286 219.735 -59.8362C359.647 58.3698 227.527 73.5443 137.181 113.005C132.295 115.138 128.547 119.394 126.676 124.385C64.2369 290.974 -3.82734 244.406 -55.4242 186.855Z" fill="#CD8BBF"/>
            </svg>
        </div>
        <div style="position: fixed; bottom: 10vh; left: 0;">
            <svg width="133" height="265" viewBox="0 0 133 265" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M87.7239 238.843C41.1741 279.602 -33.8663 270.038 -79.8835 217.483C-125.901 164.927 -125.469 89.2809 -78.9194 48.5224C15.508 -56.7282 20.4364 33.7025 43.176 97.852C45.1961 103.551 49.9862 107.796 55.7257 109.697C171.475 148.029 133.113 199.101 87.7239 238.843Z" fill="#ECC3E3"/>
            </svg>
        </div>
        <div style="position: fixed; bottom: 0; right: 0;">
            <svg width="244" height="176" viewBox="0 0 244 176" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M309.181 9.46227C363.978 21.242 377.275 61.9415 377.074 80.8187L83.0341 328.134L0.707798 230.255C-9.24727 81.4813 92.2461 110.858 110.413 124.263C128.579 137.669 180.536 191.249 202.793 88.9666C225.051 -13.316 240.684 -5.26237 309.181 9.46227Z" fill="#69A596"/>
            </svg>
        </div>
    </div>